body {
    background-image: url(img/cine.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    color: aliceblue;
    padding: 5px;
}

#cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: black;
}

.card{
    margin-top: 15px;
    height: 600px;
}
.cardPuntaje{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cardResena{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.formResena{
    display: block;
}
#puntajeUser{
    padding-top: 30px;
}
.card-body{
    color: black;
}

#puntajeUser{
    text-align: center;
}

.texto{
    text-align: center;
    margin-top: 20px;
}

.form-control{
    width: 50%;
    margin-left: 25%;
}

#anotherFilm{
    margin-left: 25%;
}

.ficha{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cardFicha{
    color: black;
}

.review{
    width: 700px;
    padding-top: 20px;
    text-shadow: 10 black;
}

#fichabtn{
        display: block;
        margin: 0 auto;
        text-align: center;
        margin-top: 20px;
}